version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sectorflux_db
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=SectorFlux_DB_2026!  # 請務必設定強密碼
      - MSSQL_PID=Developer
    volumes:
      - sql_data:/var/opt/mssql
    restart: always

volumes:
  sql_data: